@import url(https://fonts.bunny.net/css?family=crimson-pro:200|lora:500,700|montserrat:400,500,700);

:root {
	--logo-font: 'Crimson Pro', serif;
	--heading-font: 'Lora', serif;
	--body-font: 'Montserrat', sans-serif;
	--black: hsl(270, 4%, 9%);
	--gray: hsl(270, 4%, 75%);
	--white: hsl(0, 0%, 100%);
	--text-xxs: 10px;
	--text-xs: 12px;
	--text-sm: 14px;
	--text-normal: 18px;
	--text-lg: 24px;
	--text-xl: 36px;
	--text-xxl: 48px;
	--font-light: 200;
	--font-normal: 400;
	--font-medium: 500;
	--font-bold: 700;
	--shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);
}

body {
	font-family: var(--body-font);
	font-weight: var(--font-normal);
	font-size: var(--text-sm);
	color: var(--white);
	background-color: var(--black);
	padding: 0 12px;
}

header {
	display: flex;
	flex-direction: column;
}

a {
	color: var(--white);
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 32px 0;
	font-size: var(--text-normal);
	font-weight: var(--font-medium);
}

li a {
	color: var(--white);
	display: inline-block;
	padding: 32px 0;
}

li a.active {
	font-weight: var(--font-bold);
	border-bottom: 2px solid var(--white);
	padding-bottom: 8px;
}

li a:hover {
	color: var(--gray);
}

.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 25px 0;
}

.logo {
	font-family: var(--logo-font);
	font-weight: var(--font-light);
	font-size: var(--text-sm);
	text-transform: uppercase;
	border: 1px solid var(--white);
	padding: 8px;

}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--black);
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-out;
	text-align: center;
}

.hamburger-menu-label {
	cursor: pointer;
	padding: 10px 0;
	float: right;
}

.hamburger-menu-icon {
	background-color: var(--white);
	display: block;
	height: 2px;
	position: relative;
	z-index: 2;
	width: 24px;
}

.hamburger-menu-icon::before,
.hamburger-menu-icon::after {
	background-color: var(--white);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.hamburger-menu-icon::before {
	top: -7px;
}

.hamburger-menu-icon::after {
	bottom: -7px;
}

.hamburger-menu {
	display: none;
}

.hamburger-menu:checked ~ nav {
	max-height: 100%
}

.hamburger-menu:checked ~ .hamburger-menu-label .hamburger-menu-icon {
	background: transparent;
}

.hamburger-menu:checked ~ .hamburger-menu-label .hamburger-menu-icon::before {
	transform: rotate(-45deg);
	top: 0;
}

.hamburger-menu:checked ~ .hamburger-menu-label .hamburger-menu-icon::after {
	transform: rotate(45deg);
	top: 0;
}

.hero-text h1 {
	font-family: var(--heading-font);
	font-weight: var(--font-medium);
	font-size: var(--text-xl);
	margin-bottom: 25px;
}

.hero-text p {
	font-size: var(--text-sm);
	width: 250px;
	margin-bottom: 25px;
}

.btn {
	font-weight: var(--font-bold);
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.btn span {
	padding-left: 10px;
}